.text{
 text-align: center;
}
.container{
    background: rgb(7, 1, 1);
    display: flex;
    flex-direction: column ;
    width:29%;
    margin-left: 450px;
    border-radius: 50px;
}
.row{
    padding:20px;
}
button{
    padding:1px;
    width: 70px;
    height:60px;
    font-size: larger;
    margin-left:10px;
    border: 2px black;
    border-radius: 40px;
}
.button:hover{
         background-color: rgb(214, 190, 155);
}
.row input{
    margin:0;
    width: 90%;
    text-align: right;
    padding:16px;
    background-color: black;
    color: azure;
    border: 2px black;
    font-size: 25px;
}
.buttonback{
    background-color: rgb(133, 99, 37);
}
.buttonback:hover{
    background-color: rgb(138, 122, 90);
}
.buttonop{
    background-color: rgb(233, 187, 63);
}
